body {
  margin: 0;
  font-family: Arial;
  background: #f5f0e6;
  color: #222;
}

nav {
  text-align: center;
  padding: 15px;
  background: #e8dfca;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.card {
  margin: 20px;
}

.card img {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
}
